<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="folderTemplatesPath" value="C:\templates" /> <!-- Путь до папки с шаблонами. Пример: "C:\templates" -->
    <add key="folderResult" value="C:\Мои акты" /> <!-- Путь до папки, куда сохранится итоговый документ. Пример: "C:\Мои акты" -->
    
    <add key="startNumberOfActs" value="1" /> <!-- Номер, с которого будут начинаться акты. Пример: "1" (без пробелов) -->
    <add key="amountActs" value="2000" /> <!-- Количество актов, которых надо сделать. Максимальное знаечение - 3000. Пример: "2000" (без пробелов) -->
    <add key="dateFrom" value="01.02.2019" /> <!-- Дата начала (включая эту дату). Пример: "01.02.2019" - это первое февраля -->
    <add key="dateTo" value="21.06.2019" /> <!-- Дата окончания (включая эту дату). Пример: "21.06.2019" - это двадцать первое июня -->
  </appSettings>
  
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>