<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="folderTemplatesPath" value="C:\templates" /> <!-- Путь до папки с шаблонами. Пример: "C:\templates" -->
    <add key="folderResult" value="C:\" /> <!-- Путь до папки, куда сохранится итоговый документ. Пример: "C:\" -->
    
    <add key="amountActs" value="10000" /> <!-- Количество актов, которых надо сделать. Пример: "10000" (без пробелов) -->
    <add key="dateFrom" value="01.02.2019" /> <!-- Дата начала (включая эту дату). Пример: "01.02.2019" - это первое февраля -->
    <add key="dateTo" value="21.06.2019" /> <!-- Дата окончания (включая эту дату). Пример: "21.06.2019" - это двадцать первое июня -->
  </appSettings>
  
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>